html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#shops {
    width: 100%;
}
.shop {
    float: left;
    display: block;
    margin: 2%;
    width: 250px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

div.shop:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.shop_logo {
    float: left;
    width: 18%;
    height: 100%;
    margin-right: 5px;
}

.shop_thumbnail {
    width: 95%;
    height: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shop_name {
    float: left;
    width: 75%;
    height: 100%;
    line-height: 150%;
    font-size: 18px;
}

.shop_desc {
    display: block;
    width: 95%;
    height: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: hidden;
}

.shop_menu {
    float: right;
}

.shop_name_box {
    float: left;
    width: 65%;
    height: 8%;
    margin-left: 2.5%;
    margin-top: 2%;
    overflow: hidden;
}

#add_shop_desc {
    width: 100%;
    height: 100%;
}

.edit_shop_desc {
    width: 100%;
    height: 100%;
}

#add_shop_image {
    position: absolute;
    width: 234px;
    height: 224px;
    margin-top: 41px;
    margin-left: 7px;
    opacity: 0;
    cursor: pointer;
}

.edit_shop_image {
    position: absolute;
    width: 234px;
    height: 224px;
    margin-top: 41px;
    margin-left: 7px;
    opacity: 0;
    cursor: pointer;
}

#add_shop_logo {
    position: absolute;
    width: 29px;
    height: 26px;
    margin-left: 6px;
    margin-top: 6px;
    opacity: 0;
    cursor: pointer;
}

.edit_shop_logo {
    position: absolute;
    width: 28px;
    height: 26px;
    margin-left: 6px;
    margin-top: 6px;
    opacity: 0;
    cursor: pointer;
}