html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#shops {
    width: 100%;
}
.shop {
    float: left;
    display: block;
    margin: 2%;
    width: 250px;
    height: 370px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.shop_thumbnail {
    width: 230px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.shop_name {
    display: block;
    width: 230px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 30px;
}

.shop_desc {
    display: block;
    width: 230px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
}
