html {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.07);
}

body {
    width: 100%;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.adder {
    cursor: pointer;
    background-image: url('/images/add.png');
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
}

.adder:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.adder:active {
    background-color: rgba(0, 0, 0, 0.1);
}

#shops {
    width: 100%;
}
.shop {
    display: block;
    width: calc(100% - 14px);
    height: 350px;
    margin: 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}



.shop_logo {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.shop_thumbnail {
    float: left;
    width: 340px;
    height: calc(100% - 10px);
    margin: 5px;
}

.span_name {
    float: left;
    height: 100%;
    line-height: 280%;
    font-size: 18px;
}

.shop_desc {
    float: left;
    width: calc(100% - 360px);
    height: calc(100% - 65px);
    margin-top: 5px;
    overflow: hidden;
}

.shop_menu {
    float: right;
    margin: 5px;
}

.shop_name_box {
    float: left;
    height: 50px;
    margin-top: 5px;
}

#add_shop_desc {
    width: 100%;
    height: 100%;
}

.edit_shop_desc {
    width: 100%;
    height: 100%;
}

#add_shop_image {
    position: absolute;
    width: 340px;
    height: 339px;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 0;
    cursor: pointer;
}

.edit_shop_image {
    position: absolute;
    width: 340px;
    height: 339px;
    margin-top: 5px;
    margin-left: 5px;
    opacity: 0;
    cursor: pointer;
}

#add_shop_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 350px;
    margin-top: 5px;
    opacity: 0;
    cursor: pointer;
}

.edit_shop_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 350px;
    margin-top: 5px;
    opacity: 0;
    cursor: pointer;
}
#items {
    width: 100%;
}

.item {
    float: left;
    display: block;
    width: 300px;
    height: 520px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: white;
}

.item_img {
    display: block;
    width: 100%;
    height: 280px;
}

.item_name {
    display: block;
    width: 100%;
    height: 25px;
}

.item_desc {
    display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.item_sale {
    display: block;
    width: 100%;
    height: 25px;
}

.item_old_price {
    float: left;
    height: 25px;
}

.item_price {
    float: left;
    height: 25px;
}

.span_align {
    height: 100%;
    line-height: 180%;
}

.item_reward {
    float: left;
    width: 100%;
    height: 25px;
}

.item_barcode {
    float: left;
    width: 100%;
    height: 25px;
}

.item_menu {
    float: right;
}

.add_item_thumbnail {
    position: absolute;
    width: 240px;
    height: 240px;
    opacity: 0;
    cursor: pointer;
}

.add_item_name {
    width: 100%;
    margin-bottom: 3px;
}

.add_item_desc {
    width: 100%;
    height: 66px;
    margin-bottom: -2px;
}

.add_item_sale {
    width: 10%;
    margin-bottom: 3px;
}

.add_item_price {
    width: 139px;
    margin-bottom: 3px;
}

.add_item_old_price {
    width: 139px;
    margin-bottom: 3px;
}

.add_item_reward {
    width: 139px;
    margin-bottom: 3px;
}

.add_item_barcode {
    width: 100%;
}

.add_item {
    width: 100%;
    height: 280px;
}

.add_item_img {
    float: left;
    width: 240px;
    height: 240px;
    margin-right: 10px;
    border : 1px solid rgba(0, 0, 0, 0.2);
}

.add_item_fields {
    width: calc(100% - 250px);
    float: left;
}

.shop_name {
    float: left;
}

#up_indicator_header {
    width: 100%;
    height: 60px;
    padding: 10px;
}

.span_icon {
    vertical-align: text-top;
}

#up_indicator {
    display: none;
}







#header_margin {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
}



#home_header {
    width: 100%;
    height: 60px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: rgba(0, 0, 0, 0.07);
}

#menu_bar {
    position: absolute;
    width: 250px;
}

#contents {
    position: absolute;
    width: calc(100% - 250px);
    min-width: 1000px;
    min-height: calc(100% - 60px);
    margin-left: 250px;
    padding: 0 0 10px 0;
    background-color: rgb(250, 250, 250);
}

#logo_box {
    float: left;
    height: 100%;
}

#logo_text {
    height: 100%;
    line-height: 150%;
    font-size: 25px;
    font-weight: 600;
}



.menu-chevron {
    height: 20px;
}

.menu-inactive {
    opacity: 0;
}

#flags {
    position: absolute;
    width: 100%;
    height: calc(100% - 72px);
}

#flag_map {
    float: right;
    width: calc(100% - 410px);
    height: 100%;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: white;
}

#flag_list {
    float: right;
    width: 385px;
    height: 100%;
    margin-right: 5px;
    overflow-y: scroll;
}

.flag {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: white;
}

.flag_indicator {
    float: right;
    width: 50px;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.flag_name {
    float: right;
    width: 333px;
    height: 59px;
}

.flag_addr {
    float: right;
    width: 333px;
    height: 39px;
}

.flag-chevron {
    display: block;
    margin-left: 17px;
    margin-top: 39px;
}

.flag-inactive {
    opacity: 0.2;
}

.span_flag_name {
    height: 100%;
    line-height: 280%;
    padding-left: 20px;
    font-size: 20px;
}

.span_flag_addr {
    height: 100%;
    line-height: 150%;
    padding-left: 20px;
    color: gray;
}
